.modall {
    position: absolute;
    top:10%;
    padding: 20px;
    z-index: 2000;
    background-color: white;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

}
.ui-card {
    border: none;
}

.ui-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3999;
    overflow: scroll;
    background-color: rgba(51, 97, 119, 0.45);
}

.ui-modal .content {
    background-color: white;
    padding: 30px;
    height: max-content;
    margin-top: 2%;

}
